<!--
============================================
; Title: Exercise 6.3 - Layouts
; Author: Professor Krasso
; Date: 3 July 2022
; Modified By: Seth Kerrey
; Description: learning how to create reusable layouts in Angular
; Code Attribution: Additional code from WEB 425 Week 6 exercises and videos
===========================================
-->

<div fxLayout="column">

  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">

    <mat-card-title>
      <img src="../../assets/not-found-image.png" alt="not-found-image" />
    </mat-card-title>

    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="accent" routerLink="/">Return home</button>
    </mat-card-content>

  </mat-card>
</div>
