<!--
============================================
; Title: Assignment 5.2 - Navigation and Layout
; Author: Professor Krasso
; Date: 21 June 2022
; Modified By: Seth Kerrey
; Description: how to implement navigation using Angular Material
; Code Attribution: Additional code from WEB 425 Week 5 exercises and videos
;===========================================
-->

<div fxLayout="row wrap">

  <div fxFlex>

    <div fxLayout="column">

      <div>
        <img src="../../assets/James_Patterson.jpg" alt="James Patterson" />
      </div>

      <div>
        <em class="author-photo-link">
          James Patterson - taken Aug 18th, 2008 by Susan Solie-Patterson on <a href="https://www.librarything.com/pic/156833" target="_blank">LibraryThing</a>
        </em>
      </div>

    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is James Patterson?</h1>
    <p>
      James Brendan Patterson is an American Author. He is best known for his series: Alex Cross, Michael Bennet, Maximum Ride, and Private series. His genre of writing is mystery, fiction, and thriller. Patterson has sold more than 400 million copies of his books and was the first person to sell 1 million e-books. In 2015, Patterson received the Literarian Award from the National Book Foundation which described him as a “passionate campaigner to make books and reading a national priority.”
    </p>
  </div>
</div>
