<!--
============================================
; Title: Assignment 7.3 - Form Validation
; Author: Professor Krasso
; Date: 10 July 2022
; Modified By: Seth Kerrey
; Description: learning how to apply data validation to forms in Angular
; Code Attribution: Additional code from WEB 425 Week 7 exercises and videos
===========================================
-->

<div fxLayout="row wrap" fxLayoutGap="20px" class="mat-elevation-z0">

  <!-- Grade form -->
  <div fxFlex class="grade-form">

    <mat-card class="mat-elevation-z8">
      <mat-card-title>Grade Entry</mat-card-title>

      <mat-card-content>
        <form fxLayout="column" [formGroup]="transcriptForm" (ngSubmit)="onSubmit($event); transcriptForm.reset()">

          <!-- Course field -->
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Course</mat-label>
            <input type="text" name="course" matInput formControlName="course" />
          </mat-form-field>

          <!-- Grade select -->
          <mat-form-field fxFlex appearance="fill">
            <mat-label>Grade</mat-label>
            <mat-select name="selectGrade" formControlName="grade">
              <mat-option *ngFor="let grade of selectableGrades" [value]="grade">
                {{ grade }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button type="submit" [disabled]="!transcriptForm.valid" mat-raised-button color="primary">Save</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Grade summary -->
  <div fxFlex class="grade-summary">
    <button mat-button color="primary" (click)="clearEntries()">Clear Transcript</button>
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Transcript</mat-card-title>

      <mat-card-content>
        <app-grade-summary *ngFor="let entry of transcriptEntries" [course]="entry.course" [grade]="entry.grade">
        </app-grade-summary>
      </mat-card-content>

    </mat-card>
  </div>
</div>

<br />

<!-- GPA -->
<div fxLayout="column" fxlayoutGap="20px">

  <div fxFlex class="gpa">

  <button mat-button color="primary" (click)="calculateResults()">Calculate GPA</button>
  <mat-card class="mat-elevation-z8">
    <mat-card-title style="text-align:center;">
      GPA: <app-gpa [gpaTotal]="gpaTotal"></app-gpa>
    </mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  </div>
</div>
