<!--
============================================
; Title: Assignment 8.3 - Capstone (Loan App)
; Author: Professor Krasso
; Date: 17 July 2022
; Modified By: Seth Kerrey
; Description: Loan App
; Code Attribution: Additional code from WEB 425 Week 8 exercises and videos
;===========================================
-->


<mat-card>
  <mat-card-title style="color: #aaaaaa; text-align: center;">
    Welcome to the Contact Us Page
  </mat-card-title>
</mat-card>

<div fxLayout="row wrap">
  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon>location_on</mat-icon>
      </mat-card-title>
      <br>

      <mat-card-content class="align-center">
        <p>
          521 Diagon Alley
        </p>
        <p>
          Hogwarts, Britain
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon>phone</mat-icon>
      </mat-card-title>
      <br>

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free: 1-800-555-5555
        </p>
      </mat-card-content>

    </mat-card>
  </div>
</div>

<br><br><br><br>
<div fxLayout="column">
  <p style="text-align:center;">
    Visit us online or at one of our many great locations throughout the Hogwarts metro area.
  </p>
</div>
