<!--
============================================
; Title: Exercise 3.2 - Passing Data to Routes, Part 1
; File Name: composer-list.component.html
; Author: Professor Krasso
; Date: 12 June 2022
; Modified By: Seth Kerrey
; Description:
;   composer-list component html for enhanced-composer-app
; Resources:
;   buwebdev, Professor Krasso, Bellevue University
===========================================
-->

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ComposerId</th>
      <th scope="col">Full Name</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let composer of composers"> <!-- Loop over composer array from composer-list.component.ts-->
      <th scope="row">{{ composer.composerId }}</th>
      <td>{{ composer.fullName }}</td>
      <td>{{ composer.genre }}</td>
    </tr>
  </tbody>
</table>
