<!--
============================================
; Title: Assignment 9.2 - Capstone (Loan App)
; Author: Professor Krasso
; Date: 24 July 2022
; Modified By: Seth Kerrey
; Description: Loan App Delivery
; Code Attribution: Additional code from WEB 425 exercises and videos
;===========================================
-->

<mat-card>
  <mat-card-title style="color: #aaaaaa; text-align: center;">
    Welcome to the Loan App!
  </mat-card-title>
  <br><br>
  <mat-card-content>

    <div fxLayout="row wrap">

      <!-- Inputs & Submit -->
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title></mat-card-title>
          <mat-card-content class="align-center">

            <form fxLayout="column" [formGroup]="loanForm" (ngSubmit)="onSubmit()">

              <mat-form-field fxFlex appearance="fill">
                <mat-label>Loan Amount</mat-label>
                <input type="text" name="loanAmount" matInput formControlName="loanAmount" />
              </mat-form-field>

              <mat-form-field fxFlex appearance="fill">
                <mat-label>Interest Rate</mat-label>
                <input type="text" placeholder="ex: 4.5" name="interestRate" matInput formControlName="interestRate" />
              </mat-form-field>

              <mat-form-field fxFlex appearance="fill">
                <mat-label>Number of Years</mat-label>
                <input type="text" name="numOfYears" matInput formControlName="numOfYears" />
              </mat-form-field>

              <button type="submit" [disabled]="!loanForm.valid" mat-raised-button style="background-color:#2a623d">Submit</button>

            </form>

          </mat-card-content>
        </mat-card>
      </div>

      <!-- Monthly & Interest -->
      <div fxFlex class="results">
        <mat-card class="mat-elevation-z0">
          <mat-card-title></mat-card-title>
          <mat-card-content class="align-center">

            <app-monthly-payment [monthlyPayment]="monthlyPayment"></app-monthly-payment>

            <app-interest-paid [interestPaid]="interestPaid"></app-interest-paid>

            <button mat-button (click)="clearEntries()" class="clear-button">Clear</button>
          </mat-card-content>

        </mat-card>
      </div>
    </div>

  </mat-card-content>
</mat-card>
