<!--
============================================
; Title: Assignment 8.3 - Capstone (Loan App)
; Author: Professor Krasso
; Date: 17 July 2022
; Modified By: Seth Kerrey
; Description: Loan App
; Code Attribution: Additional code from WEB 425 Week 8 exercises and videos
;===========================================
-->

<mat-card class="mat-elevation-z0">
  <mat-card-title style="color: #aaaaaa; text-align: center;">
    Welcome to the About Us Page
  </mat-card-title>
  <br><br>

  <mat-card-content>
    <h2>Overview</h2>
    <p>
      Loan_App is one of the leading financial loan calculators for the Slytherin House, students and otherwise. Created by Salazar Slytherin pre 976, Loan_App has been assisting students of the Slytherin House at Hogwarts with their finances for over 1000 years. Loan_App was originally used on magic parchment that Slytherin students were given as a part of their orientation week at Hogwarts, and initiation into Slytherin house. It has since been updated to a website by Lucius Malfoy, one of the many great benefactors of the Slytherin House. (The option to use Loan_App is still available on magic parchment but restricted to those of pure blood only).
    </p>
    <h2>Benefits</h2>
    <p>
      Loan_App comes with great wizardly functions like analyzing the magic of a financial loan. It includes inputs of loan amount, interest rate, and number of years. With these variables any wizard, pure blood or not, can benefit from Loan_App’s magical calculations. Students will be able to calculate their loans for interests such as: the fastest flying brooms that are offered, the best wands from Olivander’s Wands, and any magical pet they desire. Students can even use Loan_App for smaller loans if they need to calculate how much to borrow for Weasley’s Wizard Wheezes candy shop!
    </p>
    <h2>History</h2>
    <p>
      The history of Loan_App includes being used by the great Salazar Slytherin as he could not figure out how much of a loan he needed for his magical pet. He wanted a Hungarian Horntail but he wasn’t sure of his budget. He ended up getting a Basilisk, and not long after created Loan_App so students could calculate their financial loans properly to get the pets they desire.
    </p>
  </mat-card-content>
</mat-card>
