/*
============================================
; Title: Assignment 8.3 - Capstone (Loan App)
; Author: Professor Krasso
; Date: 17 July 2022
; Modified By: Seth Kerrey
; Description: Loan App
; Code Attribution: Additional code from WEB 425 Week 8 exercises and videos
;===========================================
*/

mat-card-content {
  width: 80%;
  margin: auto;
}

h2 {
  color: #aaaaaa;
  margin-bottom: 0;
}
