<!--
============================================
; Title: Exercise 8.2 - Server-Side Communications
; Author: Professor Krasso
; Date: 17 July 2022
; Modified By: Seth Kerrey
; Description: how to communicate with a middleware API
; Code Attribution: Additional code from WEB 425 Week 8 exercises and videos
;===========================================
-->

<div fxLayout="column wrap">

  <ng-container *ngIf="books.length === 0">
    <mat-spinner></mat-spinner>
  </ng-container>

  <div *ngIf="books.length > 0">
    <h2 class="green">Top {{ books.length }} Favorite Books</h2>
    <div class="grid-container">
      <ng-container *ngFor="let book of books">
        <mat-card class="mat-elevation-z8">
          <mat-card-title (click)="showBookDetails(book.isbn)">
            {{ book.title }}
          </mat-card-title>
          <mat-card-content>
            <mat-list>
              <mat-list-item class="grid-container__item">ISBN: {{ book.isbn }}</mat-list-item>
              <mat-list-item class="grid-container__item">Pages: {{ book.numOfPages }}</mat-list-item>
              <mat-list-item class="grid-container__item">Authors: {{ book.authors }}</mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>

</div>
