/*
============================================
; Title: Exercise 8.2 - Server-Side Communications
; Author: Professor Krasso
; Date: 17 July 2022
; Modified By: Seth Kerrey
; Description: how to communicate with a middleware API
; Code Attribution: Additional code from WEB 425 Week 8 exercises and videos
;===========================================
*/

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 25
}

.grid-container__item {
  padding: 20px;
  font-size: 30px;
}

mat-card-title:hover {
  text-decoration: underline;
}

mat-card-title {
  text-decoration: none;
  cursor: pointer;
}
