/*
============================================
; Title: Assignment 5.2 - Navigation and Layout
; Author: Professor Krasso
; Date: 21 June 2022
; Modified By: Seth Kerrey
; Description: how to implement navigation using Angular Material
; Code Attribution: Additional code from WEB 425 Week 5 exercises and videos
;===========================================
*/

.author-photo-link a:link {
  color: white;
  text-decoration: none;
}

.author-photo-link a:hover {
  text-decoration: underline;
}

.author-photo-link a:visited {
  color: white;
}
