<!--
============================================
; Title: Assignment 5.2 - Navigation and Layout
; Author: Professor Krasso
; Date: 21 June 2022
; Modified By: Seth Kerrey
; Description: how to implement navigation using Angular Material
; Code Attribution: Additional code from WEB 425 Week 5 exercises and videos
;===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>
      <br>

      <mat-card-content class="align-center">
        <p>
          123 Main St
        </p>
        <p>
          Omaha, Nebraska
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>
      <br>

      <mat-card-content class="align-center">
        <p>
          Direct: 555-555-5555
        </p>
        <p>
          Toll-free: 1-888-555-5555
        </p>
        <p>
          Fax: 555-555-5555
        </p>
      </mat-card-content>

    </mat-card>
  </div>
</div>

<br><br><br><br>
<div fxLayout="column">
  <p style="text-align:center;">
    Visit us online or at one of our many great locations through the Omaha metro area.
  </p>
</div>
